*{       
    margin:0;
  box-sizing:border-box;  
  }
  body{
    height:100vh;
    display:flex;
    flex-direction:column;
     
  }
  .searchinfo{
    padding:10px;
    
      flex:60%;
   
  }
  .info{
    flex:40%;
    padding:10px;
  
    
  }
  .infobox{
    width:100%;
    height:100%;
    background:steelblue;
       flex-direction:column;
    display:flex;
    justify-content:space-evenly;
    padding:0 10px;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
  }
  .searchinfobox{
      width:100%;
    height:100%;
    background:#ccc;
     display:flex;
     justify-content:center;
    align-items:center;
    flex-direction:column;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  }
  input{
    border:0;
    width:300px;
    height:40px;
    padding-left:20px;
    outline:0;
    font-family: 'Montserrat', sans-serif;
  }
  button{
      margin-top:20px;
    border:0;
    outline:0;
    width:100px;
    height:40px;
    background:steelblue;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
  }
  h1{
    font-family: 'Montserrat', sans-serif;
  }
  